extends layout
block content
    h1 #{heading}
    p first paragraph xxx
    p now lets loop 
    each item in data  
        p #{item}
    a(href='//google.com') Google
    input(type='text' name='entered_text')
    p.first-para first paragraph xxx
    h1#myHeading Users